    body 
    {
        background-color: rgb(42, 181, 196);
        font-family: Arial;
    }

    h1 
    {
        color: darkblue;
    }

    h2 
    {
        color: maroon;
        margin-top: 20px;
    }

    label 
    {
        font-weight: bold;
    }

    input 
    {
        padding: 5px;
        margin-bottom: 10px;
    }

    p 
    {
        line-height: 1.5;
    }

    ul, ol 
    {
        margin-left: 30px;
    }